/IT13A_Balendez1/nbproject/private/
/Balendez_13A_activities/nbproject/private/
/Balendez_IT13A_activitiess/nbproject/private/
/Balendez_IT13A/nbproject/private/
/Balendez_IT13A/build/
/Balendez_IT13A/dist/
